@use 'constant/base.scss' as cst ;

#message-container {
  div.fade-element {
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;

    p {text-align: justify}

    span {
      font-size: 1.2em;
      writing-mode: sideways-lr; 
    }

  }

  button {
    align-self: center;
  }
}

.grow-element {
  transition: width .2s ease-out;
  -o-transition: width .2s ease-out;
  -ms-transition: width .2s ease-out;
  -moz-transition: width .2s ease-out;
  -webkit-transition: width .2s ease-out;

  width: 2rem;
}

@media only screen and (min-width: 1px) {
  #message-container {margin-top: 2rem}
  .grow-animation {width: 3rem}
}

@media only screen and (min-width: 330px) {
  #message-container p {order: 2}
  .grow-animation {width: 4rem}
}

@media only screen and (min-width: 500px) {
  #message-container {
    gap: 3rem;

    p {
      order: initial;
      max-width: 35rem;
    }
  }

  .grow-element {width: 3rem}
  .grow-animation {width: 7rem}
}

@media only screen and (min-width: 1064px) {
  #message-container {margin-top: 0}
}