@use 'constant/base.scss' as cst ;

#error-page {
	width: 100vw;
	flex: 1;

	> img {
		position: fixed;

		&:first-child {transform: rotate(50deg)}
		&:nth-child(2) {transform: rotate(-6deg)}
	}

	.error-message {
		padding-right: 1rem;
		div {
			background-color: rgba(18, 34, 32, .7);
			border-radius: 2px;
			padding: 1rem;
		}
	}
}

.link {
	p {font-size: .8em}

	img {width: 150px}

	a {
		text-decoration: none;
		font-size: 1.1em;
	}
}

footer {
	margin-top: auto;

	span {
		font-size: .8em;
	}

	#footer-bg {
		position: absolute;
		max-width: 40em;
		z-index: -1;
		bottom: 0;
		right: 0;
	}
}

@media only screen and (min-width: 1px) {
	#error-page {
		> img {
			&:first-child {
				width: 263px;
        		left: -175px;
			}

			&:nth-child(2) {
		        width: 135px;
		        top: 73px;
		        right: 0;
			}
		}
	}

	.error-message {
		height: 50vh;
		padding-left: 2rem;

		img {
			width: 235px;
	        transform: rotate(2deg);
	        position: fixed;
	        bottom: -80px;
        	right: 5px;
		}

		p {font-size: 1em}
	}

	footer {
		width: 100%;

		> div {
			width: 100%;
			justify-content: space-around;
			row-gap: 2rem;
		}

		.link:nth-child(1) {width: 100%}

		span {padding: 0 20px 15px 0}
	}
}

@media only screen and (min-width: 330px) {
	.error-message {padding-left: 9rem}
}

@media only screen and (min-width: 500px) {
	footer {
		> div {column-gap: 2rem}
		.link:nth-child(1) {width: initial}
	}
}

@media only screen and (min-width: 640px) {
	#error-page {
		> img {
			&:first-child {width: 283px}
			&:nth-child(2) {width: 184px}
		}
	}

	.error-message {
		img {width: 277px}
	}

	footer {
		width: initial;
		padding: 0 20px 15px 0;

		> div {
			width: initial;
			justify-content: initial;
			column-gap: 3rem;
		}

		span {padding: 0}
	}
}

@media only screen and (min-width: 768px) {
	#error-page {
		> img {
			&:first-child {
				width: 325px;
        		bottom: -158px;
			    right: 35px;
				left: initial;
			}

			&:nth-child(2) {
				top: -10px;
			    right: 80px;
			}
		}
	}

	.error-message {
		height: initial;
		padding-left: 0;
		column-gap: 5rem;
		transform: translateX(-125px);

		img {
			position: inherit;
			width: 319px;
			transform: rotate(13deg);
		}
	}

	footer > div {column-gap: 5rem}
}

@media only screen and (min-width: 1064px) {
	#error-page {
		> img {
			&:first-child {
				width: 430px;
        		bottom: -213px;
			}

			&:nth-child(2) {
				width: 255px;
        		right: 30px;
			}
		}
	}

	.error-message {
		img {width: 335px}
		p {font-size: 1.2em}
	}

	footer > div {column-gap: 7rem}
}

@media only screen and (min-width: 1280px) {
	#error-page {
		> img {
			&:first-child {
				width: 600px;
			    bottom: -310px;
			}

			&:nth-child(2) {
				width: 350px;
			    right: 335px;
			}
		}
	}

	.error-message {
		img {width: 520px}
		p {font-size: 1.5em}
	}
}