@use 'constant/base.scss' as cst;
@use 'app.scss' as * ;
@use 'style/template.scss' as * ;
@use 'style/editor.scss' as * ;
@use 'style/buttons.scss' as * ;
@use 'style/fields.scss' as * ;
@use 'style/message.scss' as * ;
@use 'style/header.scss' as * ;

iframe {display: none !important}
#root{min-height: 100vh}
*:focus {outline: none}

body {
  font-family: cst.$quicksand;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: cst.$dark-green;

  *:not(svg, path) {color: cst.$off-white}
  position: relative;
  font-size: 15px;
}

main {
  align-items: center;

  label, span.infos, .textButton {font-size: .85em}
  
  *::selection {
    background: cst.$klein !important;
    text-shadow: none;
  }

  *::-moz-selection {
    background: cst.$klein !important;
    text-shadow: none;
  }
}

p {margin: 0}
button {cursor: pointer}

/*---------phones--------------------------------------*/
@media only screen and (min-width: 1px) {
  main, header .intro {margin: 0 1rem 0 1rem}
  main {margin-bottom: 5rem}
}

@media only screen and (min-width: 330px) {
  main, header .intro {margin: 0 1.8rem 0 1.8rem}
  main {margin-bottom: 5rem}
}

@media only screen and (min-width: 500px) {
  body {background-size: auto 42vh}
  main, header .intro {margin: 0 2rem 0 2rem}
  main {margin-bottom: 5rem}
}

/*---------tablets & after-----------------------------*/
@media only screen and (min-width: 640px) {
  main, header .intro {margin: 0 4rem 0 4rem}
  main {margin-bottom: 5rem}
}

@media only screen and (min-width: 768px) {
  header .intro {margin: 0}
}

@media only screen and (min-width: 1064px) {
  body {background-size: auto 37vh}
}

@media only screen and (min-width: 1280px) {
  body {background-size: auto 50vh}
}